.navbar-toggler[b-hbbp6g3evc] {
    color: #1b1b1b;
}
.ham-menu[b-hbbp6g3evc] {
    background-color: #525252;
}

.top-row[b-hbbp6g3evc] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

.navbar-brand[b-hbbp6g3evc] {
    font-size: 1.1rem;
    color: #000000;
}

.oi[b-hbbp6g3evc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-hbbp6g3evc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-hbbp6g3evc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-hbbp6g3evc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-hbbp6g3evc]  a {
        color: #1b1b1b;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }



@media (min-width: 641px) {
    .navbar-toggler[b-hbbp6g3evc] {
        display: none;
    }

    .collapse[b-hbbp6g3evc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-hbbp6g3evc] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
