@page "/json"
@inject HttpClient Http

<PageTitle>Games</PageTitle>

<h1>Games</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Hours</th>
                <th>Achievements</th>
                <th>Multiplayer?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Hours</td>
                    <td>@game.Achievements</td>
                    <td>@game.Multiplayer</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Weathergame[]? games;

    protected override async Task OnInitializedAsync()
    {
        games = await Http.GetFromJsonAsync<Weathergame[]>("sample-data/sample.json");
    }

    public class Weathergame
    {
        public string Title { get; set; }
        public int Hours { get; set; }
        public string Achievements { get; set; }
        public bool Multiplayer { get; set; }
    }

}
