<div class="alert alert-secondary mt-4">
    <span class="oi" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        på
        <a class="font-weight-bold link-dark" href="mailto: maaf2200@student.miun.se">maaf2200@student.miun.se</a>
    </span>
</div>

@code {
   [Parameter]
    public string? Title { get; set; }
}
